* {
    margin: 0;
    font-family: 'roboto';
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-width: 70vw;
    overflow: hidden;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.todo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
    gap: 0 5rem;
    padding: 0.1rem;
}

.todo-test_area {
    flex: 1;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #f9f9f9;
    border-radius: 0.2rem;
    padding: 10px;
    gap: 10px 0;
    overflow-wrap: break-word
}

.test_area-title {
    height: 10%;
    border: 1px solid grey;
}

.test_area-description {
    height: calc(100% - 5rem);
    resize: both;
}

.button {
    padding: 10px;
    background-color: #80cc35;
    border: none;
}

textarea {
    outline: none;
}

.test_area-title,
.test_area-description {
    padding: 0 0.5rem;
    background-color: #f6f6f6;
}

.todo-list {
    flex: 2;
}

.hr {
    border: 1px solid gray;
}

.todo-list ul li {
    background-color: #f9f9f9;
}

ul {
    list-style: none;
    padding: 0;
    height: 70vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

li,
.todo-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-header {
    font-size: 20px;
    color: #fff;
    font-weight: 800;
}

li {
    margin-bottom: 10px;
}

li button {
    margin-right: 10px;
    color: #fff;
    background-color: red;
    border: none;
    padding: 5px 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
    width: 2em;
}

li div,
.todo-list-header div {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    padding: 7px 14px;
}

.title {
    width: 25%;
    margin: 0 1rem;
    overflow: hidden;
}

input {
    outline: none;
}